---
import Layout from "../layouts/Layout.astro";
import Sep from "../components/Sep.astro";
import Features from "../components/Features.astro";
import Contact from "../components/Contact.astro";
import Devider from "../components/Devider.astro";
//@ts-ignore
import Gallery from "../components/Gallery.astro";
import Testimonials from "../components/Testimonials.astro";
---

<Layout title="ענת">
  <main class="relative">
    <!-- HEADER -->
    <section
      class="relative bg-[url(/anat/bgpic.jpeg)] bg-cover bg-center bg-no-repeat"
    >
      <div
        class="absolute inset-0 bg-white/70 sm:bg-transparent sm:from-white/80 sm:to-white/25 rtl:sm:bg-gradient-to-l"
      >
      </div>

      <div
        class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
      >
        <div class="max-w-xl text-center rtl:sm:text-right">
          <h1
            class="font-heebo text-3xl font-extrabold sm:text-5xl xl:text-7xl"
          >
            צילום

            <span class="block font-extrabold text-purple-600"
              >אנשים <strong class="text-purple-700">ברגעים</strong></span
            >
          </h1>

          <p class="sm:text-xl/relaxed mt-4 max-w-lg"></p>
          <div
            class="flex items-center justify-center gap-2 sm:hidden md:flex lg:hidden"
          >
            <a
              href="https://www.facebook.com/ilanit.kitzoni.photography"
              role="button"
            >
              <!-- Facebook -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-7 w-7"
                fill="currentColor"
                style="color: #1877f2"
                viewBox="0 0 24 24"
              >
                <path
                  d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"
                ></path>
              </svg>
            </a>
            <a
              href="https://www.instagram.com/ilanit.kitzoni.photography/"
              role="button"
            >
              <!-- Instagram -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-7 w-7"
                fill="currentColor"
                style="color: #c13584"
                viewBox="0 0 24 24"
              >
                <path
                  d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"
                ></path>
              </svg>
            </a>
          </div>
          <div class="mt-8 flex flex-wrap gap-4 text-center">
            <a
              href="#contact"
              class="block w-full rounded bg-primary px-12 py-3 font-sans text-sm font-bold text-white shadow transition hover:bg-dark_primary focus:outline-none focus:ring active:bg-rose-500 sm:w-auto"
            >
              צרו קשר
            </a>

            <a
              href="#gallery"
              class="block w-full rounded bg-white px-12 py-3 font-sans text-sm font-bold text-primary shadow hover:text-dark_primary focus:outline-none focus:ring active:text-rose-500 sm:w-auto"
            >
              גלריה
            </a>
          </div>
        </div>
      </div>
    </section>
    <!--  -->

    <!-- about -->
    <section class="scroll-mt-20 bg-home" id="about">
      <div class="mx-auto">
        <div class="grid h-screen grid-cols-1 md:grid-cols-2">
          <div
            class="max-h-96 overflow-hidden md:h-screen md:max-h-full md:overflow-visible"
          >
            <img
              class="max-h-56 w-full object-cover object-[50%_40%] md:h-screen md:max-h-full md:object-center"
              src="/anat/us.jpg"
              alt=""
            />
          </div>
          <div class="flex p-10">
            <div class="mx-auto mb-auto mt-auto max-w-lg">
              <h1 class="text-3xl uppercase lg:text-5xl">ענת גונן</h1>
              <p class="mb-5 font-semibold">צלמת</p>
              <p class="lg:text-2xl">
                אנשים וצילום תמיד ריתקו אותי. היה לי ברור שזה עניין של זמן עד
                שאצליח לחבר ביניהם. לימודי האימון, הנחית קבוצות, קורס בפוטתרפיה,
                קורס וסדנאות הצילום דייקו זאת עוד.

                <br />
                עבורי צילום הוא ללכוד את הרגע, בין אם חיוך, נגיעה, מבט, נוף עוצר
                נשימה, אני שואפת להזמין את הרגע לכל תמונה שאני מצלמת ולתת לה משמעות.

                <br />
                כיום, אני מחברת את אהבותיי תשוקותיי ונסיוני המקצועי, והמצלמה היא
                כלי להקניית מסוגלות והתבוננות החוצה.
                <br />
                אני מביאה נסיון מהשטח ורואה קודם את האדם, הפרטים, והסיפור שהוא מביא.
                מנסיוני מהעולם העסקי והחברתי (בכל זאת סמנכ"לית משאבי אנוש ) סקרנות
                ואהבת האדם ונקודת מבט של צלמת רחוב הם שמחברים הכל
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--  -->

    <Devider />

    <!-- SERVICES -->
    <section class="scroll-mt-20 p-4 lg:p-8" id="services">
      <div class="container mx-auto space-y-56">
        <div
          class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row"
          data-aos="fade"
        >
          <img
            src="/anat/street.jpg"
            alt=""
            class="aspect-video h-80 object-cover"
          />
          <div class="flex flex-1 flex-col justify-center p-6">
            <h3 class="text-3xl font-bold">צילום רחוב</h3>
            <p class="my-6">צילום תמונות עוצרות נשימה מסוג צילום רחוב.</p>
            <a
              class="mx-auto inline-block w-fit rounded bg-primary px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring"
              href="#contact"
            >
              צרו קשר
            </a>
          </div>
        </div>
        <div
          class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row-reverse"
          data-aos="fade"
        >
          <img
            src="/anat/army.jpg"
            alt=""
            class="aspect-video h-80 object-cover"
          />
          <div class="flex flex-1 flex-col justify-center p-6">
            <h3 class="text-3xl font-bold">צילום רגעים שמחים ומרגשים</h3>
            <p class="my-6">צילום ספונטני של רגעים שמחים ומרגשים.</p>
            <a
              class="mx-auto inline-block w-fit rounded bg-primary px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring"
              href="#contact"
            >
              צרו קשר
            </a>
          </div>
        </div>
        <div
          class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row"
          data-aos="fade"
        >
          <img
            src="https://source.unsplash.com/640x480/?3"
            alt=""
            class="aspect-video h-80"
          />
          <div class="flex flex-1 flex-col justify-center p-6">
            <h3 class="text-3xl font-bold">צילום בר\בת מצווה</h3>
            <p class="my-6">
              צילום התקופה המרגשת של העלייה לתורה עם צילום מדויק לרגע.
            </p>
            <a
              class="mx-auto inline-block w-fit rounded bg-primary px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring"
              href="#contact"
            >
              צרו קשר
            </a>
          </div>
        </div>
        <div
          class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row lg:flex-row-reverse"
          data-aos="fade"
        >
          <img
            src="/anat/couple.jpg"
            alt=""
            class="aspect-video h-80 object-cover"
          />
          <div class="flex flex-1 flex-col justify-center p-6">
            <h3 class="text-3xl font-bold">צילום זוגות</h3>
            <p class="my-6">צילום שני אהבות לתמונה אחת מרגשת.</p>
            <a
              class="mx-auto inline-block w-fit rounded bg-primary px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring"
              href="#contact"
            >
              צרו קשר
            </a>
          </div>
        </div>
        <div
          class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row"
          data-aos="fade"
        >
          <img
            src="/anat/family.jpg"
            alt=""
            class="aspect-video h-80 object-cover"
          />
          <div class="flex flex-1 flex-col justify-center p-6">
            <h3 class="text-3xl font-bold">צילומי משפחה</h3>
            <p class="my-6">צילום תמונות משפחה שאפשר להסתכל עליהם שנים אחרי.</p>
            <a
              class="mx-auto inline-block w-fit rounded bg-primary px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring"
              href="#contact"
            >
              צרו קשר
            </a>
          </div>
        </div>
      </div>
    </section>
    <!--  -->

    <Devider />
    <section>
      <h1 class="font-heebo text-5xl font-bold">
        לקוחות <span class="text-rose-600">מרוצים</span>
      </h1>
      <Testimonials />
    </section>

    <Devider />

    <!-- gallery -->
    <section id="gallery" class="scroll-m-20 space-y-10 py-3">
      <h1 class="font-heebo text-7xl font-bold">גלריה</h1>
      <Gallery />
    </section>
    <!--  -->

    <Contact />
  </main>
</Layout>
